.countryBox {
  width: 100%;
  border-radius: 8px;
  box-shadow: -2px 2px 10px 1px rgba(0, 0, 0, 0.2);
  padding: 5rem 1rem;

  & .moreDetails {
    display: none;

    &.show {
      display: block !important;
    }
  }
}
